{% extends "layouts/base.html" %}
 
{% block title %} Dashboard {% endblock %}
 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
 
{% block content %}
 
   <main class="content">
 
       {% include 'includes/navigation.html' %}
 
       <div class="preloader bg-soft flex-column justify-content-center align-items-center">
           <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/brand/light.svg" height="60" alt="Volt logo">
       </div>
 
       <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
           <!-- <div class="btn-toolbar dropdown">
               <button class="btn btn-primary btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span class="fas fa-plus mr-2"></span>New Task
               </button>
               <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                   <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-tasks"></span>New Task</a>
                   <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-cloud-upload-alt"></span>Upload Files</a>
                   <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-user-shield"></span>Preview Security</a>
                   <div role="separator" class="dropdown-divider"></div>
                   <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-danger"></span>Upgrade to Pro</a>
               </div>
           </div> -->
           <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
               <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
           </div>
       </div>
 
       <div class="row justify-content-md-center">
           <div class="col-12 mb-4">
               <div class="card bg-yellow-alt shadow-sm">
                   <div class="card-header d-flex flex-row align-items-center flex-0">
                       <div class="d-block">
                           <div class="h5 font-weight-normal mb-2">Live Stream</div>
                           <h2 class="h3">Bat-Eared Foxes</h2>
                           <!-- <div class="small mt-2">
                               <span class="font-weight-bold mr-2">Yesterday</span>                             
                               <span class="fas fa-angle-up text-success"></span>                                  
                               <span class="text-success font-weight-bold">10.57%</span>
                           </div> -->
                       </div>
                       <!-- <div class="d-flex ml-auto">
                           <a href="#" class="btn btn-secondary text-dark btn-sm mr-2">Month</a>
                           <a href="#" class="btn btn-primary btn-sm mr-3">Week</a>
                       </div> -->
                   </div>
                   <div class="card-body p-2" style="text-align:center">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <iframe width="840" height="473" src="https://www.youtube.com/embed/Ar7yNWfpNd4?start=899" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                          <div class="carousel-item">
                            <iframe width="840" height="473" src="https://www.youtube.com/embed/yTNsTnqyYzI?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                          <div class="carousel-item">
                            <iframe width="840" height="473" src="https://www.youtube.com/embed/JkaxUblCGz0?start=28" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div> 
               </div>

                    <!-- Video Slider: https://getbootstrap.com/docs/4.0/components/carousel/ -->
                      <!-- <div>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active" style="text-align:center">
                                <!-- <img class="d-block w-100" src="..." alt="First slide">
                                <iframe width="840" height="473" src="https://www.youtube.com/embed/yTNsTnqyYzI?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>Löffelhunde am 9.12</h5>
                                    <p>Aufnahme von 10:30 bis 11:20</p>
                                </div>
                              </div>
                              <div class="carousel-item" style="text-align:center">
                                  <!-- src="{{url_for('static', filename='assets/videos/1mintest.h264')}}
                                <iframe width="840" height="473" src="https://www.youtube.com/embed/JkaxUblCGz0?start=28" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <!-- <img class="d-block w-100" src="..." alt="Second slide" )}}">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>Löffelhunde am 8.12</h5>
                                    <p>Aufnahme von 12:30 bis 13:20</p>
                              </div>
                              <div class="carousel-item" style="text-align:center">
                                <!-- src="{{url_for('static', filename='assets/videos/1mintest.h264')}}
                                <iframe width="840" height="473" src="https://www.youtube.com/embed/JkaxUblCGz0?start=28" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              <!-- <img class="d-block w-100" src="..." alt="Second slide" )}}">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                  <h5>Löffelhunde am 7.12</h5>
                                  <p>Aufnahme von 12:30 bis 13:20</p>
                              </div>
                              <div class="carousel-item" style="text-align:center">
                                <!-- src="{{url_for('static', filename='assets/videos/1mintest.h264')}}
                                <iframe width="840" height="473" src="https://www.youtube.com/embed/JkaxUblCGz0?start=28" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <!-- <img class="d-block w-100" src="..." alt="Second slide" )}}">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                  <h5>Löffelhunde am 6.12</h5>
                                  <p>Aufnahme von 12:30 bis 13:20</p>
                                </div>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div> 
                   </div>
               </div>
           </div> -->
           <div class="col-12 col-sm-6 col-xl-4 mb-4">
               <div class="card border-light shadow-sm">
                   <div class="card-body">
                       <div class="row d-block d-xl-flex align-items-center">
                           <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                               <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span class="fas fa-chart-line"></span></div>
                               <div class="d-sm-none">
                                   <h2 class="h5">Temperature</h2>
                                   <h3 class="mb-1">15,678</h3>
                               </div>
                           </div>
                           <div class="col-12 col-xl-7 px-xl-0">
                               <div class="d-none d-sm-block">
                                   <h2 class="h5">Temperature</h2>
                                   <h3 class="mb-1">15°</h3>
                               </div>
                               <small>Feb 1 - Nov 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> WorldWide</small>
                               <div class="small mt-2">                              
                                   <span class="fas fa-angle-up text-success"></span>                                  
                                   <span class="text-success font-weight-bold">18.2%</span> Since last month
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-12 col-sm-6 col-xl-4 mb-4">
               <div class="card border-light shadow-sm">
                   <div class="card-body">
                       <div class="row d-block d-xl-flex align-items-center">
                           <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                               <div class="icon icon-shape icon-md icon-shape-secondary rounded mr-4"><span class="fas fa-cash-register"></span></div>
                               <div class="d-sm-none">
                                   <h2 class="h5">Humidity</h2>
                                   <h3 class="mb-1">44.08%</h3>
                               </div>
                           </div>
                           <div class="col-12 col-xl-7 px-xl-0">
                               <div class="d-none d-sm-block">
                                   <h2 class="h5">Humidity</h2>
                                   <h3 class="mb-1">44%</h3>
                               </div>
                               <small>Feb 1 - Nov 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> Worldwide</small>
                               <div class="small mt-2">                              
                                   <span class="fas fa-angle-up text-success"></span>                                  
                                   <span class="text-success font-weight-bold">28.2%</span> Since last month
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- <div class="col-12 col-sm-6 col-xl-4 mb-4">
               <div class="card border-light shadow-sm">
                   <div class="card-body">
                       <div class="row d-block d-xl-flex align-items-center">
                           <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                               <div class="ct-chart-traffic-share ct-golden-section ct-series-a"></div>
                           </div>
                           <div class="col-12 col-xl-7 px-xl-0">
                               <h2 class="h5 mb-3">Traffic Share</h2>
                               <h6 class="font-weight-normal text-gray"><span class="icon w-20 icon-xs icon-secondary mr-1"><span class="fas fa-desktop"></span></span> Desktop <a href="#" class="h6">60%</a></h6>
                               <h6 class="font-weight-normal text-gray"><span class="icon w-20 icon-xs icon-primary mr-1"><span class="fas fa-mobile-alt"></span></span> Mobile Web <a href="#" class="h6">30%</a></h6>
                               <h6 class="font-weight-normal text-gray"><span class="icon w-20 icon-xs icon-tertiary mr-1"><span class="fas fa-tablet-alt"></span></span> Tablet Web <a href="#" class="h6">10%</a></h6>
                           </div>
                       </div>
                   </div>
               </div>
           </div> -->
       </div>
 
       <div class="row">
           <div class="col-12 col-xl-8 mb-4">
               <div class="row">
                   <div class="col-12 mb-4">
                       <div class="card border-light shadow-sm">
                           <div class="card-header">
                               <div class="row align-items-center">
                                   <div class="col">
                                   <h2 class="h5">Sensor Data</h2>
                                   </div>
                                   <div class="col text-right">
                                       <a href="#" class="btn btn-sm btn-secondary">See all</a>
                                   </div>
                               </div>
                           </div>
                           <div class="table-responsive">
                               <table class="table align-items-center table-flush">
                                   <thead class="thead-light">
                                   <tr>
                                       <th scope="col">Timestamp</th>
                                       <th scope="col">Temperature</th>
                                       <th scope="col">Humidity</th>
                                       <th scope="col">Change</th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   <tr>
                                       <th scope="row">
                                           Nov 24 12:30:00
                                       </th>
                                       <td>
                                           15.3
                                       </td>
                                       <td>
                                           35%
                                       </td>
                                       <td>
                                           <span class="fas fa-arrow-up text-danger mr-3"></span> 4,55%
                                       </td>
                                   </tr>
                                   <tr>
                                       <th scope="row">
                                           Nov 24 12:00:00
                                       </th>
                                       <td>
                                           15.1
                                       </td>
                                       <td>
                                           37%
                                       </td>
                                       <td>
                                           <span class="fas fa-arrow-down text-success mr-3"></span> 3,52%
                                       </td>
                                   </tr>
                                   <tr>
                                       <th scope="row">
                                           Nov 24 11:30:00
                                       </th>
                                       <td>
                                           14.8
                                       </td>
                                       <td>
                                           39%
                                       </td>
                                       <td>
                                           <span class="fas fa-arrow-down text-success mr-3"></span> 2,35%
                                       </td>
                                   </tr>
                                   <tr>
                                       <th scope="row">
                                           Nov 24 11:00:00
                                       </th>
                                       <td>
                                           14.2
                                       </td>
                                       <td>
                                           41%
                                       </td>
                                       <td>
                                           <span class="fas fa-arrow-up text-danger mr-3"></span> 5,87%
                                       </td>
                                   </tr>
                                   <tr>
                                       <th scope="row">
                                           Nov 24 10:30:00
                                       </th>
                                       <td>
                                           13.8
                                       </td>
                                       <td>
                                           42%
                                       </td>
                                       <td>
                                           <span class="fas fa-arrow-down text-success mr-3"></span> 5,24%
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                   </div>
                </div>
           </div>
           <div class="col-12 col-xl-4 mb-4">
               <div class="col-12 mb-4">
                   <div class="card border-light shadow-sm">
                       <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                           <div class="d-block">
                               <div class="h6 font-weight-normal text-gray mb-2">Sensor Data Overview</div>
                               <h2 class="h3">452</h2>
                               <div class="small mt-2">                              
                                   <span class="fas fa-angle-up text-success"></span>                                  
                                   <span class="text-success font-weight-bold">18.2%</span>
                               </div>
                           </div>
                           <div class="d-block ml-auto">
                               <div class="d-flex align-items-center text-right mb-2">
                                   <span class="shape-xs rounded-circle bg-quaternary mr-2"></span>
                                   <span class="font-weight-normal small">October</span>
                               </div>
                               <div class="d-flex align-items-center text-right">
                                   <span class="shape-xs rounded-circle bg-secondary mr-2"></span>
                                   <span class="font-weight-normal small">November</span>
                               </div>
                           </div>
                       </div>
                       <div class="card-body p-2">
                           <div class="ct-chart-ranking ct-golden-section ct-series-a"></div>
                       </div>
                   </div>
               </div>
               <!-- <div class="col-12 px-0 mb-4">
                   <div class="card border-light shadow-sm">
                       <div class="card-body">
                           <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                               <div>
                                   <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-globe-europe"></span></span>Global Rank</h6>
                               </div>
                               <div>
                                   <a href="#" class="text-primary font-weight-bold">#755<span class="fas fa-chart-line ml-2"></span></a>
                               </div>
                           </div>
                           <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                               <div>
                                   <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-flag-usa"></span></span>Country Rank</h6>
                                   <div class="small card-stats">United States<span class="icon icon-xs text-success ml-2"><span class="fas fa-angle-up"></span></span></div>
                               </div>
                               <div>
                                   <a href="#" class="text-primary font-weight-bold">#32<span class="fas fa-chart-line ml-2"></span></a>
                               </div>
                           </div>
                           <div class="d-flex align-items-center justify-content-between pt-3">
                               <div>
                                   <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-folder-open"></span></span>Category Rank</h6>
                                   <a href="#" class="small card-stats">Travel > Accomodation</a>
                               </div>
                               <div>
                                   <a href="#" class="text-primary font-weight-bold">#16<span class="fas fa-chart-line ml-2"></span></a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div> -->
               <!-- <div class="col-12 px-0 mb-4">
                   <div class="card border-light shadow-sm">
                       <div class="card-body">
                           <h2 class="h5">Acquisition</h2>
                           <p>Tells you where your visitors originated from, such as search engines, social networks or website referrals.</p>
                           <div class="d-block">
                               <div class="d-flex align-items-center pt-3 mr-5">
                                   <div class="icon icon-shape icon-sm icon-shape-danger rounded mr-3"><span class="fas fa-chart-bar"></span></div>
                                   <div class="d-block">
                                       <label class="mb-0">Bounce Rate</label>
                                       <h4 class="mb-0">33.50%</h4>
                                   </div>
                               </div>
                               <div class="d-flex align-items-center pt-3">
                                   <div class="icon icon-shape icon-sm icon-shape-quaternary rounded mr-3"><span class="fas fa-chart-area"></span></div>
                                   <div class="d-block">
                                       <label class="mb-0">Sessions</label>
                                       <h4 class="mb-0">9,567</h4>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div> -->
           </div>
       </div>

 
       {% include 'includes/footer.html' %}
 
   </main>

{% endblock content %}

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Responsive Video Slider JS -->
<script src="js/rvslider.min.js"></script>
<script>
    jQuery(function($){
    $('.rvs-container').rvslider();
    });
</script>
 
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
 

