{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/brand/light.svg" height="60" alt="Volt logo">
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a href="#">Nuremberg Zoo</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sensor Data</li>
                    </ol>
                </nav>
                <h2 class="h4">All Sensor Data</h2>
            </div>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
                </div>
            </div>
        </div>

        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col col-md-6 col-lg-3 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                        <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm icon-gray">
                                <span class="fas fa-cog"></span>
                            </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                            <span class="dropdown-item font-weight-bold text-dark">Show</span>
                            <a class="dropdown-item d-flex font-weight-bold" href="#">10 <span class="icon icon-small ml-auto"><span class="fas fa-check"></span></span></a>
                            <a class="dropdown-item font-weight-bold" href="#">20</a>
                            <a class="dropdown-item font-weight-bold" href="#">30</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span class="fas fa-chart-line"></span></div>
                            <div class="d-sm-none">
                                <h2 class="h5">Temperature</h2>
                                <h3 class="mb-1">15,678</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h5">Temperature</h2>
                                <h3 class="mb-1">15°</h3>
                            </div>
                            <small>Feb 1 - Nov 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> WorldWide</small>
                            <div class="small mt-2">                              
                                <span class="fas fa-angle-up text-success"></span>                                  
                                <span class="text-success font-weight-bold">18.2%</span> Since last month
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon icon-shape icon-md icon-shape-secondary rounded mr-4"><span class="fas fa-cash-register"></span></div>
                            <div class="d-sm-none">
                                <h2 class="h5">Humidity</h2>
                                <h3 class="mb-1">44.08%</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h5">Humidity</h2>
                                <h3 class="mb-1">44%</h3>
                            </div>
                            <small>Feb 1 - Nov 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> Worldwide</small>
                            <div class="small mt-2">                              
                                <span class="fas fa-angle-up text-success"></span>                                  
                                <span class="text-success font-weight-bold">28.2%</span> Since last month
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->          
        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover">
                                     <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Timestamp</th>
                                        <th scope="col">Temperature</th>
                                        <th scope="col">Humidity</th>
                                        <th scope="col">Change</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            Nov 24 12:30:00
                                        </th>
                                        <td>
                                            15.3
                                        </td>
                                        <td>
                                            35%
                                        </td>
                                        <td>
                                            <span class="fas fa-arrow-up text-danger mr-3"></span> 4,55%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Nov 24 12:00:00
                                        </th>
                                        <td>
                                            15.1
                                        </td>
                                        <td>
                                            37%
                                        </td>
                                        <td>
                                            <span class="fas fa-arrow-down text-success mr-3"></span> 3,52%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Nov 24 11:30:00
                                        </th>
                                        <td>
                                            14.8
                                        </td>
                                        <td>
                                            39%
                                        </td>
                                        <td>
                                            <span class="fas fa-arrow-down text-success mr-3"></span> 2,35%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Nov 24 11:00:00
                                        </th>
                                        <td>
                                            14.2
                                        </td>
                                        <td>
                                            41%
                                        </td>
                                        <td>
                                            <span class="fas fa-arrow-up text-danger mr-3"></span> 5,87%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Nov 24 10:30:00
                                        </th>
                                        <td>
                                            13.8
                                        </td>
                                        <td>
                                            42%
                                        </td>
                                        <td>
                                            <span class="fas fa-arrow-down text-success mr-3"></span> 5,24%
                                        </td>
                                    </tr>
                                    </tbody>
            </table>
            <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
                <nav aria-label="Page navigation example">
                    <ul class="pagination mb-0">
                        <li class="page-item">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <div class="font-weight-bold small">Showing <b>5</b> out of <b>25</b> entries</div>
            </div>
        </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
